@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Garet Heavy";
  src: url("../fonts/Garet-Heavy.otf") format("opentype");
}
@font-face {
  font-family: "Garet Book";
  src: url("../fonts/Garet-Book.otf") format("opentype");
}

.Name {
  font-weight: 300;
  font-family: Assistant;
  margin-top: 21vw;
}
.PageMenu > li > a {
  color: black;
}

.Message-arial > p {
  font-family: Raleway;
}
.nutritional-message > p {
  font-family: Raleway;
}
.nutritional-message {
  text-align: center;
}
.nutritional-message-styled {
  text-align: center;
}
.nutritional-message-styled > p {
  font-family: League script;
  font-weight: bold;
}
.Message-arial {
  text-align: center;
}
.subMessage {
  font-family: Raleway;
  font-weight: lighter;
}
.abalible-services-title-container {
  text-align: right;
  margin-top: 100px;
}
.part-title {
  font-weight: lighter;
  font-size: 3.8vw;
  font-family: Plus + Jakarta + Sans; /* Modificado*/
}
.service-image {
  display: grid;
}
.resume-title {
  font-family: League script;
  font-size: 5vw;
  font-weight: 400;
  margin-top: 21vw;
  margin-bottom: 50px;
  margin-left: 20px;
}
.experience-title {
  font-weight: bold;
  font-family: Plus + Jakarta + Sans;
}
.experience {
  font-family: Plus + Jakarta + Sans;
}
.presentation {
  margin-top: 150px;
  margin-left: 7vw;
}
@media (max-width: 800px) {
  .presentation {
    margin-left: 0px;
  }
}
/* .abalible-services:hover{



} */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
